:root {
  --name-size: 32px;
}
.personal-information {
  padding: 16px;
  justify-items: center;
}
.contact-info {
  display: flex;
  gap: 16px;
}
.personal-information h1 {
  font-size: var(--name-size);
}
