:root {
  --heading-size: 18px;
  --text-size: 16px;
}
.section-item {
  display: flex;
  justify-content: space-between;
}

.section-items {
  display: flex;
  flex-direction: column;
}
.section {
  padding: 7.5px 0px;
}

.section h1 {
  font-size: var(--heading-size);
}
.section-item h3 {
  font-size: var(--text-size);
}
.date-location-group {
  text-align: right;
}
hr {
  border: 1px solid black;
}
ul,
li {
  margin: 0;
  padding-left: 10px;
  list-style-position: inside;
}
.section-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-list-item {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
}
